<div class="a-common-table-container">
  <div style="display: flex;justify-content: space-between;margin-bottom: 20px;">
    <h2>{{ 'Products' | translate }}</h2>
    <button (click)="gotoAddEditComponent()" class="btn btn-info">
      {{ 'Create' | translate }}
      <span class="pi pi-plus"></span>
    </button>
  </div>

  <div class="row a-margin-bottom-20">
    <div class="col-md-3">
      <p-dropdown id="category" name="category" placeholder="{{'Category' | translate}}" [options]="categoriesSelectItems" [(ngModel)]="selectedCategory" filter="true" (onChange)="CategoryChanged()"></p-dropdown>
    </div>
    <div class="col-md-3">
      <p-dropdown [disabled]="!selectedCategory" id="subCategory" name="subCategory" placeholder="{{'SubCategory' | translate}}" (onChange)="SubCategoryChanged()" [options]="subCategoriesSelectItems" [(ngModel)]="selectedSubCategory" filter="true"></p-dropdown>
    </div>
  </div>

  <p-table *ngIf="allProducts && allProducts.length" #dt [value]="allProducts" [paginator]="true" [rows]="10" [globalFilterFields]="[
      'code',
      'productNameAr',
      'productNameEn',
      'price'
    ]">
    <ng-template pTemplate="caption">
      <div class="input-group" style="text-align: right">
        <i class="fa fa-search a-global-search-icon"></i>
        <input type="text" size="50" placeholder="{{ 'GlobalFilter' | translate }}" (input)="dt.filterGlobal($event.target.value, 'contains')" class="a-global-search" />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="'subCategoryCode'">
          {{ 'Code' | translate }}
          <p-sortIcon [field]="'subCategoryCode'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'subCategoryNameAr'">
          {{ 'NameAr' | translate }}
          <p-sortIcon [field]="'subCategoryNameAr'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'subCategoryNameEn'">
          {{ 'NameEn' | translate }}
          <p-sortIcon [field]="'subCategoryNameEn'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'category.categoryName'">
          {{ 'Price' | translate }}
          <p-sortIcon [field]="'category.categoryName'"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.productNameAr }}</td>
        <td>{{ product.productNameEn }}</td>
        <td>{{ product.price }}</td>
        <td style="display: flex;justify-content: space-evenly;">
          <!-- <button (click)="showAddEditComponent(cat)" class="btn btn-primary">
            {{ 'Update' | translate }}
            <span class="pi pi-clone"></span>
          </button> -->
          <button class="btn btn-danger" (click)="confirmDelete(product.productId)">
            {{ 'Delete' | translate }}
            <span class="pi pi-trash"></span>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog header="{{ 'DeleteConfirmation' | translate }}" message="{{ 'WantDelete' | translate }}" acceptLabel="{{ 'Yes' | translate }}" rejectLabel="{{ 'No' | translate }}" [style]="{ width: '50vw' }"></p-confirmDialog>
