<div class="a-card-holder">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="a-card-counter">55 </div>
    </div>
    <div class="card-footer">
      <p class="card-text">عدد الزيارات</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="a-card-counter">55 </div>
    </div>
    <div class="card-footer">
      <p class="card-text">عدد الزيارات</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="a-card-counter">55 </div>
    </div>
    <div class="card-footer">
      <p class="card-text">عدد الزيارات</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="a-card-counter">55 </div>
    </div>
    <div class="card-footer">
      <p class="card-text">عدد الزيارات</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="a-card-counter">55 </div>
    </div>
    <div class="card-footer">
      <p class="card-text">عدد الزيارات</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="a-card-counter">55 </div>
    </div>
    <div class="card-footer">
      <p class="card-text">عدد الزيارات</p>
    </div>
  </div>
</div>
